<%# Add followup task to destination column %>
<%= turbo_stream.prepend "column-#{@destination_status}" do %>
  <%= render "boards/task_card", task: @followup %>
<% end %>

<%# Update destination column count %>
<%= turbo_stream.replace "column-#{@destination_status}-count" do %>
  <span id="column-#{@destination_status}-count" class="ml-auto text-xs text-content-secondary bg-bg-elevated px-1.5 py-0.5 rounded"><%= @board.tasks.where(status: @destination_status).count %></span>
<% end %>

<%# Update original task card to show followup link %>
<%= turbo_stream.replace "task_#{@task.id}" do %>
  <%= render "boards/task_card", task: @task.reload %>
<% end %>

<%# Close the modal by removing it %>
<%= turbo_stream.remove "followup_modal" %>
