<%# Remove the task card %>
<%= turbo_stream.remove "task_#{@task.id}" %>

<%# Update the column count %>
<% column_count = current_user.tasks.where(status: @task.status, completed: false).count %>
<%= turbo_stream.replace "column-#{@task.status}-count" do %>
  <span id="column-<%= @task.status %>-count" class="ml-auto text-xs text-stone-400 dark:text-white/50"><%= column_count %></span>
<% end %>

<%# Update the header count if it's inbox or in_progress %>
<% if %w[inbox in_progress].include?(@task.status) %>
  <%= turbo_stream.update "header-#{@task.status}-count", column_count.to_s %>
<% end %>
